.wrapper_with_padding
  #docs.clearfix

    - if @docs.any?
      - @docs.each do |doc|
        %a{ href: (url_for [doc ])}
          .doc
            %p.title= link_to doc.title, doc
            %p.doc= time_ago_in_words(doc.created_at)
            %p.content= truncate(doc.content, length:50)
    - else
      %h2 Create Doc!
      %p Start Creating documents and organize your life!
      =button_to "Create Doc", new_doc_path, class: 'button'
